<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.datapacktracker">
    <permission
        android:name="com.example.datapacktracker.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.example.datapacktracker.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_datapack_tracker_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_datapack_tracker_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="user_registration.reset_password" />
        <activity android:name=".MenuPage" />
        <activity android:name="bedTimeMode.bedTimeMode"/>
        <activity android:name="Profile.profile"/>
        <activity android:name="speedTesting.speedTesting"/>
        <activity android:name="settings.setting"/>
        <activity android:name="towerNavigation.findTower"/>
        <activity android:name="user_registration.signup_page" />
        <activity android:name="user_registration.login_page" />
        <activity android:name="home.HomeActivity" />
        <activity android:name="Emergency_DataBank.emergency_databank" />
        <activity android:name="dataUsage.dataUsage"/>
        <activity android:name="hotspotUsage.hotspotUsage"/>
        <activity android:name="appUsage.allAppUsage"/>
        <activity android:name="appUsageStatistics.appUsageStatistics"/>
        <activity android:name="foregroundBackgroundDataUsage.dataUsageFB"/>
        <activity android:name="Usage_calculation.usage_calculation"/>
        <activity android:name="home.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="API_KEY" />
        <receiver android:name="bedTimeMode.AlertReceiver"/>
        <service android:name="bedTimeMode.foregroundService" />
    </application>
</manifest>
